<header>
  <div class="jumbotron-fluid py-5 mb-3 ">
    <h1 class="display-2 title">BestLifeQuotes
      <span class="small">.com</span>
    </h1>
    <p class="sub-title">Get Inspired Everyday</p>
  </div>
</header>

<div class="main pt-5">
  <div class="new-quote mx-3">
    <app-quotes-form (quotesArray)="getNewQuote($event)"></app-quotes-form>
  </div>
  <div class="container-fluid d-flex">
    <div class="sidebar w-25 p-3 my-3">
      <img class="img-fluid img-thumbnail" src="../../assets/quote7.jpg" alt="quote7">
      <img class="img-fluid img-thumbnail" src="../../assets/quote6.jpg" alt="quote7">
      <img class="img-fluid img-thumbnail" src="../../assets/quote4.jpg" alt="quote7">
    </div>
    <div class="jumbotron p-3 my-3  main-area w-75">
      <button class="btn btn-sm" (click)="updateQuotes()">Refresh</button>
      <div>
        <div>
          <h1 class="mt-1">Quote Of The day</h1>
        </div>
        <ul>
          <li *ngFor='let quote of quotes; let i = index'>
            <p class="quote"> {{quote.quote}} </p>
            <div class="d-flex justify-content-end">
              <app-quotes-details (delete)="deleteQuote($event, i)" [quote]='quote'></app-quotes-details>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
