<header>
  <div class="jumbotron-fluid">
    <h1 class="display-2">BestLifeQuotes
      <span class="small">.com</span>
    </h1>
    <p></p>
  </div>
</header>

<div class="container">
  <div class="jumbotron p-3 my-3">
    <app-quotes-form (quotesArray)="getNewQuote($event)"></app-quotes-form>
    <div>
      <h1 class="mt-5">Published Quotes</h1>
      <ul>
        <li *ngFor='let quote of quotes'>
          <p> {{quote.quote}} </p>
          <!-- <app-quotes-details [quote]='quote'></app-quotes-details> -->
        </li>
      </ul>
    </div>
  </div>
</div>
