<div>
  <h2>by {{quote.author}}</h2>
  <div>
    <p>added by {{quote.user}}</p>
  </div>
  <div class="votes d-flex">
    <p class="d-inline-block mr-4">
      <button class="btn btn-sm like px-3 mr-2" on-click="addUpVotes()">👍</button>
      {{quote.upvotes}}
    </p>
    <p class="d-inline-block">
      <button class="btn btn-sm dislike px-3 mr-2" on-click="addDownVotes()">👎</button>
      {{quote.downvotes}}
    </p>
  </div>
  <div>
    <p>quote {{quote.id}} </p>
    <p> {{quote.timepassed | timepassed}}ago </p>
  </div>
</div>
