@import "~bootstrap/dist/css/bootstrap.css";
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(33, 33, 33);
  color: #e1e1e1;
}

.bg-light-white {
  background-color: #cecece
}

.bg-light-white:focus {
  background-color: #e1e1e1;
  border-color: #FFCC00;
}
